.background_fixed {
  background-color: red;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  width: 100%;
  height: auto;
}
.main-text {
  text-align: center;
  border: 1px black;
}
